<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>Eli Anderson's 2010 SE STi</title>

    <meta property="og:title" content="Eli Anderson's 2010 SE STi" /> 
    <meta property="og:image" content="http://eli-sti.heroku.com/img/photos/icon.jpg" /> 
    <meta property="og:description" content="Wrapped by Guardline and has loads of Perrin Parts" /> 
    <meta property="og:url" content="http://eli-sti.heroku.com/">

    <meta property="og:type" content="product">
    <meta property="fb:app_id" content="330696837004642">

    <meta property="og:site_name" content="Eli's 2010 STi"/>
    <meta property="og:admins" content="elirhdev, elianderson03"/>
	
		<link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="theme/supersized.shutter.css" type="text/css" media="screen" />
		
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.min.js"></script>
		
		<script type="text/javascript" src="js/supersized.3.2.7.min.js"></script>
		<script type="text/javascript" src="theme/supersized.shutter.min.js"></script>
		
		<script type="text/javascript">
			
			jQuery(function($){
				
				$.supersized({
				
					// Functionality
					slide_interval          :   3000,		// Length between transitions
					transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
					transition_speed		:	700,		// Speed of transition
															   
					// Components							
					slide_links				:	'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
					slides 					:  	[			// Slideshow Images
														{image : 'img/photos/bridge-high.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/engine-bay.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/fast.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/front-twisted.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/front.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/rear-three-quarter.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/shifter.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/whee.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/wheel.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/with-pipes.jpg', title : 'Image Credit: Chris Wold'},
														{image : 'img/photos/bridge-awesome.jpg', title : 'Image Credit: Chris Wold'},
												]
					
				});
		    });
		    
		</script>
		
	</head>
	
	<style type="text/css">
		ul#demo-block{ margin:0 15px 15px 15px; }
			ul#demo-block li{ margin:0 0 10px 0; padding:10px; display:inline; float:left; clear:both; color:#aaa; background:url('img/bg-black.png'); font:11px Helvetica, Arial, sans-serif; }
			ul#demo-block li a{ color:#eee; font-weight:bold; }
	</style>

<body>

<%= yield %>

</body>
</html>
