<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
    <title>Test</title>
    <meta property="fb:app_id" content="330696837004642">

    <meta property="og:type" content="product">
    <meta property="og:title" content="Eli's 2010 STi" /> 
    <meta property="og:description" content="2010 STi Specail Edition" /> 
    <meta property="og:image" content="http://profile.ak.fbcdn.net/hprofile-ak-ash2/275974_620029713_7252371_n.jpg">

    <meta property="og:site_name" content="Eli's 2010 STi"/>
    <meta property="og:url" content="http://eli-sti.heroku.com/like">
</head>
